*.class

# Package Files #
*.jar
*.war
*.ear

target/
.idea/
*.iml

*.ipr
*.iws
*.orig
*.tmproj
*~
.DS_Store
.classpath
.generators
.project
.rakeTasks
.settings
build
drive_build.log
dump.rdb
overlays
pkg
pkg/
tmp
